<div class="align-middle" xmlns="http://www.w3.org/1999/html">
  <div class="row gx-5 align-items-center align-middle min-vh-100 m-auto">
    <div class="d-md-none d-lg-none d-xl-none d-xxl-none  d-flex col-md-5 header-gg bg-gradient-primary-to-secondary">
      <div class="d-flex align-items-center justify-content-center">
        <div class="logo position-relative top-0 start-50">
          <img alt="logo" src="assets/giftlogo.png"/>
          <span class="text-white fw-bold fs-5 mx-3"> Giftly</span>
        </div>
      </div>
    </div>

    <div class="d-none d-sm-none d-md-flex col-md-5 min-vh-100  bg-gradient-primary-to-secondary">
      <div class="d-flex align-items-center justify-content-center">
        <div class="logo position-absolute top-0 start-0 m-5 d-flex align-items-center">
          <img alt="logo" src="assets/giftlogo.png"/>
          <span class="text-white fw-bold fs-5 mx-3"> Giftly</span>
        </div>
      </div>
    </div>
    <div class="col-md-7 px-md-5">
      <div class="text-center">
        <div class="fs-1 fw-bolder">
          <span class="text-gradient d-inline"
            >Create my first Gift registry</span
          >
        </div>
        <div class="fs-6 fw-light text-muted mb-3 px-2">
          Simplify your first registry experience and reduce unwanted gifts
        </div>
        <div class="container-fluid text-start px-5">
          <div class="row mb-4">
            <div class="col-sm-6">
              <div class="d-flex flex-column gap-2">
                <label htmlFor="Type" class="fw-bold">Type</label>
                <p-dropdown
                  [options]="types"
                  styleClass="d-flex"
                  optionLabel="name"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex flex-column gap-2">
                <label htmlFor="Title" class="fw-bold">Title</label>
                <input pInputText id="Title" />
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="d-flex flex-column gap-2">
                <label htmlFor="Mail" class="fw-bold">Mail</label>
                <input pInputText id="Mail" aria-describedby="username-help" />
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="d-flex flex-column gap-2">
                <label htmlFor="username" class="fw-bold">Description</label>
                <input pInputText id="Description" />
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col text-center">
              <p-checkbox value="New York" inputId="accept"></p-checkbox>
              <label for="accept">I accept the terms and conditions</label>

            </div>
          </div>

        </div>

        <div class="d-grid justify-content-center mb-3">
          <p-button
            pRipple
            label="Start Now"
            styleClass="custom-btn d-flex bg-gradient-primary-to-secondary "
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

