<div class="container align-middle px-5 pb-5">
  <div class="row gx-5 align-items-center min-vh-100 m-auto">
    <div class="col-md-5">
      <!-- Header profile picture-->
      <div class="d-flex justify-content-center mt-1 mt-xxl-0">
        <div class="profile bg-gradient-primary-to-secondary">
          <img class="profile-img" src="assets/hero-gift.png" alt="..." />
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <!-- Header text content-->
      <div class="text-center text-xxl-start">
        <div class="fs-2 display-3 fw-bolder">
          <span class="text-gradient d-inline"
            >Create a Gift list to Share</span
          >
        </div>
        <div class="fs-6 fw-bold text-muted mb-3">
          Simplify your first registry experience and reduce unwanted gifts
        </div>
        <div class="container-fluid text-start">
          <div class="row">
            <div class="col-sm-6">
              <div class="d-flex flex-column gap-2">
                <label htmlFor="Type" class="fw-bold">Type</label>
                <p-dropdown
                  [options]="types"
                  styleClass="d-flex"
                  optionLabel="name"
                ></p-dropdown>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex flex-column gap-2">
                <label htmlFor="Title" class="fw-bold">Title</label>
                <input pInputText id="Title" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="d-flex flex-column gap-2">
                <label htmlFor="Mail" class="fw-bold">Mail</label>
                <input pInputText id="Mail" aria-describedby="username-help" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="d-flex flex-column gap-2">
                <label htmlFor="username" class="fw-bold">Description</label>
                <input pInputText id="Description" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p-checkbox value="New York" inputId="accept"></p-checkbox>
              <label for="accept">I accept the terms and conditions</label>
            </div>
          </div>
        </div>

        <div
          class="d-grid gap-3 d-sm-d-flex justify-content-sm-center justify-content-xxl-start mb-3"
        >
          <p-button
            pRipple
            label="Start Now"
            styleClass="bg-gradient-primary-to-secondary p-button-success"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
<style></style>
